body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    padding: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form > input,
form > button {
    padding: 0.3em 0.5em;
    font-size: 2rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.list.empty {
    border: 0.2rem solid #ccc;
    padding: 2rem;
    font-size: 2rem;
    color: #999;
    text-align: center;
    font-style: italic;
}
.list > .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}
.list .text {
    font-size: 1.5rem;
}
.list .actions {
    display: flex;
    gap: 1rem;
}
.list .actions button {
    padding: 0.2em 0.5em;
}
.list .divider {
    height: 100%;
    width: 0.1rem;
    background-color: #ccc;
}

.hidden {
    display: none;
}

.toast {
    display: none;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 24rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0.2rem 0.4rem #0003;
}
.toast.active {
    display: flex;
}
.toast > .icon {
    width: 4rem;
    padding: 1rem;
}
.toast > .icon > svg {
    display: none;
    width: 2rem;
    height: 2rem;
}
.toast[data-state='success'] > .icon > svg:nth-child(1),
.toast[data-state='info'] > .icon > svg:nth-child(2),
.toast[data-state='warning'] > .icon > svg:nth-child(3),
.toast[data-state='error'] > .icon > svg:nth-child(4) {
    display: block;
}
.toast[data-state=''] > .icon {
    display: none;
}
.toast > .texts {
    padding: 1rem;
}
.toast > .texts > .title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.toast[data-state='success'] > .texts > .title {
    color: green;
}
.toast[data-state='info'] > .texts > .title {
    color: blue;
}
.toast[data-state='warning'] > .texts > .title {
    color: orange;
}
.toast[data-state='error'] > .texts > .title {
    color: red;
}
.toast > .close {
    width: 4rem;
    padding: 1rem;
    margin-left: auto;
}
.toast > .close > svg {
    width: 2rem;
    height: 2rem;
}